/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Static gradient background */
.background {
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
}
